.down-cont {
  display: flex;
  height: 32rem;
  width: 100%;
  align-items: center;
  gap: 30px;
  justify-content: center;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
}
.down-img-cont {
  width: 30rem;
  height: 24rem;
}
.down-content-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 28rem;
}
.down-content-heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  color: rgba(27, 60, 116, 1);
}
.down-content-heading span {
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  color: rgba(42, 167, 255, 1);
}
.down-content-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.phone-input-cont {
  display: flex;
  align-items: center;
  background-color: #f5f7fa;
  border-radius: 8px;
  padding: 10px;
  width: 370px; /* Adjust the width as needed */
}

.country-code {
  margin-right: 10px;
  font-size: 16px;
  color: #333; /* Adjust the color as needed */
}

.phone-input {
  border: none;
  outline: none;
  background-color: #f5f7fa;
  font-size: 16px;
  color: #888; /* Adjust the color as needed */
  flex-grow: 1;
}
.download-app-btn {
  display: flex;
  gap: 30px;
  padding-top: 2rem;
}
